.App {
  width: 300px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
